<aside class="col-3 border border-light bg-white p-2">
    <article class="card mb-3">
        <div class="card-header">
            Catégories
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_categories_index') }}">Liste des catégories</a></p>
            <p><a href="">Ajouter une catégorie</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Produits
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_products_index') }}">Liste des produits</a></p>
            <p><a href="{{ path('admin_products_add') }}">Ajouter un produit</a></p>
        </div>
    </article>
    <article class="card mb-3">
        <div class="card-header">
            Utilisateurs
        </div>
        <div class="card-body">
            <p><a href="{{ path('admin_users_index') }}">Liste des utilisateurs</a></p>
        </div>
    </article>
</aside>