<footer class="container-fluid bg-light">
	<div class="row">
		<section class="col">
			Colonne 1
		</section>
		<section class="col">
			Colonne 2
		</section>
		<section class="col">
			Colonne 3
		</section>
	</div>
</footer>
